<!--
Author: Ray-Eldath
-->
<style>
    .markdown-body .anchor{
        float: left;
        margin-top: -8px;
        margin-left: -20px;
        padding-right: 4px;
        line-height: 1;
        opacity: 0;
    }

    .markdown-body .anchor .anchor-icon{
        font-size: 15px
    }

    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3{
        cursor: pointer;
    }

    .markdown-body h1:hover,
    .markdown-body h2:hover,
    .markdown-body h3:hover{
        text-decoration: underline;
    }

    html{
        scroll-behavior: smooth;
    }
</style>
<script>
    $(document).ready(function() {
        let nodes = document.querySelector(".markdown-body").querySelectorAll("h1,h2,h3")
        for(let node of nodes) {
            var anchor = document.createElement("a")
            var anchorIcon = document.createElement("i")
            anchorIcon.setAttribute("class", "fa fa-anchor fa-lg anchor-icon")
            anchorIcon.setAttribute("aria-hidden", true)
            anchor.setAttribute("class", "anchor")

            let $node  = $(node)

            node.onmouseover = function() {
                let $icon = $node.find('a')
                $icon.css({
                    opacity: '0.4'
                })
            }

            node.onmouseout = function() {
                let $icon = $node.find('a')
                $icon.css({
                    opacity: '0'
                })
            }

            node.onclick = function() {
                location.hash = node.getAttribute("id")
            }

            anchor.appendChild(anchorIcon)
            node.appendChild(anchor)
        }
    })
</script>
